<mat-toolbar color="primary" [class.mat-elevation--z16]="true">

  <button mat-button>
    <img src="../assets/rix.png">
    ProgLog
  </button>
  <button mat-button>
    League
  </button>
  <button mat-button>
    Players
  </button>
</mat-toolbar>
<mat-sidenav-container  color="primary">
  <mat-sidenav #playerList color="primary" mode="side" opened="true">
    <ul>
      <!-- TODO: Navigation list based on existing routes -->
      <li (click)="log()">Barry Rowe</li>
      <li (click)="log()">Ermin Avdagic</li>
      <li (click)="log()">Huy Le</li>
      <li (click)="log()">Kavon Kowsari</li>
      <li (click)="log()">Nick Cage</li>
      <li (click)="log()">Geoff GetOff</li>
    </ul>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-button (click)="playerList.toggle()">
      <mat-icon *ngIf="playerList.opened === true">keyboard_arrow_left</mat-icon>
      <mat-icon *ngIf="playerList.opened === false">keyboard_arrow_right</mat-icon>
      ProgLog
    </button>
  </mat-toolbar>
  Some Main page stuff that display when you enter the app.
  <!-- TODO: Some sort of router stuff -->
  <!-- <angular-router></angular-router> -->
  <!-- <main-page></main-page> -->
  <mat-toolbar class="footer-expand">
      &copy; 2018
  </mat-toolbar>
</mat-sidenav-container>